
.row .color{
    background-color: whitesmoke;
}

.row button{    
    height: 200px;
    width: 200px;
    font-size: 75px;
    font-style: italic;
    color: red;
}

.row button:hover{
    
}

.row .restart{
    font-size: 50px;
    height: 85px;
    width: 225px;
    margin-top: 10px;
    color: lightgreen;
}

.restart:hover{
    background: black;
}
.game{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}