
.row .color{
    background-color: whitesmoke;
}

.container .row .gamebtn{
    visibility: visible;
}

.container .row .gamebtn{    
    height: 200px;
    width: 200px;
    font-size: 75px;
    font-style: italic;
    color: red;
}

.container .row .restart{
    visibility: visible;
}
.container .row .restart{
    font-size: 50px;
    height: 85px;
    width: 225px;
    margin-top: 10px;
    color: lightgreen;
}

.restart:hover{
    background: lightgray;
}

.game{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}

.difficulty .gamebtn{
    z-index: 1000;
    position: absolute;
    height: 200px;
    width: 200px;
    font-size: 75px;
}